h1{
    padding:20px;
    text-align: center;
    width: 100%;
}

h2{
    padding:15px;
    text-align: center;
    width: 100%;
}

h3{
    padding:10px;
    text-align: center;
    width: 100%;
}

button {
    background-color: #5c5c5c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

p{
    text-align: center;
    width: 100%;
}